{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3.0.0"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [["transform-remove-console", { "exclude": [ "error" ] }], "transform-remove-debugger"]
    }
  }
}
