.footer
  //- If you are readling this file, probably you have forked my repo and trying to apply your own
  //- customizations. Although this project is licensed under the MIT license and is free to modify
  //- and redistribute, please consider supporting me at https://github.com/sponsors/icelam
  //- or https://ko-fi.com/icelam. This will help me to create more high quality contents and
  //- keep my server up and running.
  //-
  //- Github sponsors: https://github.com/sponsors/icelam
  //- Ko-fi: https://ko-fi.com/icelam
  span © Ice Lam #{new Date().getFullYear()}・
  a(href="https://github.com/icelam/random-name-picker" target="_blank") Github
