meta(name="description" content="%Công bố kết quả Minigame Khám phá CI/CD & K8S tại sự kiện Stringee Tech Talk 2023%")
meta(name="keywords" content!="%Stringee Tech Talk%")
meta(name="title" content="%Stringee - Minigame Khám phá CI/CD & K8S%")
link(rel="canonical" href="https://%APP_DOMAIN%%APP_CONTEXT%")
